//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Component
// ========================================================================

body {
	background:#fff;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-family: $basic_font;
	font-weight: 400;
	line-height: 120%;
}

.wrapper-box {
	position: relative;
	display: block;
	overflow: hidden;
	min-height: 100%;
}

a {
	@include transition(.6s);

	&:hover,
	&:focus {

	}
}

video::-webkit-media-controls {
	display: none !important;
}
.hidden {
	opacity: 0;
}
.visible, .hidden.visible {
	opacity: 1;
}

.right {
	float: right;
}
.left {
	float: left;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 120%;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 32px;
}
h3, .h3 {
	font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
.backstretch {
	z-index: 1!important;
}
.page-bg {
	.wrapper-box {
		display: block;
		margin: auto;
		max-width: 1440px;
	}
}

@media only screen and (min-width: 993px)  {
    .main {
        &.about-page, &.energy-page, &.careers-page, &.culture-page {
            .top-banner, .bottom-section {
                background-image: none!important;
            }
        }
    }
    .home-page {
        .bottom-section {
            background-image: none!important;
        }
    }
}


