//
// Name:            Bottom section
//
// Description:     Bottom section styles
//

// ========================================================================
// Component
// ========================================================================


.main {
	.bottom-section {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		position: relative;
		.globe-box {
			@include transition(2s);
			position: absolute;
			left: 50%;
			margin-left: -153px;
			top: -76px;
			width: 306px;
			height: 576px;
			background: url("../images/combined-shape.svg") no-repeat left top;
			background-size: cover;
			z-index: 2;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.75);
			z-index: 1;
		}
		.wrap {
			position: relative;
			z-index: 10;
			p, a {
				display: inline-block;
				margin: 10px 28px;
				vertical-align: top;
			}
			.btn {
				min-width: 194px;
			}
		}
		.bottom-section-content {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			height: 400px;
			width: 1400px;
			.cell {
				text-align: left;
				display: table-cell;
				padding: 0 4.2%;
				width: 50%;
				p {
					margin: 10px 0 31px;
				}
				.btn {
					min-width: 212px;
					margin: 10px 0;
				}
				&:first-child {
					padding: 0 4.2% 0 6.2%;
				}
			}
		}
		p {
			color: $white;
			font: normal 400 40px/50px $basic_font;
		}
	}
}
.home-page {
	.main {
		.bottom-section {
			.wrap {
				.btn {
					&:hover {
						background: $white;
						color: $black;
					}
				}
			}
		}
	}

}
@media only screen and (max-width: 992px)  {
	.main {
		.bottom-section {
			.globe-box {
				margin-left: -140px;
				top: -57px;
				width: 280px;
				height: 425px;
			}
			.wrap {
				p, a {
					margin: 10px 28px;
				}
				p {
					display: block;
				}
			}
			.bottom-section-content {
				height: 300px;
				.cell {
					padding: 0 3%;
					p {
						margin: 10px 0;
					}
					&:first-child {
						padding: 0 3%;
					}
				}
			}
			p {
				font: normal 400 24px/46px $basic_font;
			}
		}
	}
}
@media only screen and (max-width: 767px)  {
	.main {
		.bottom-section {
			.globe-box {
				margin-left: -120px;
				top: -57px;
				width: 240px;
				height: 366px;
			}
			.wrap {
				 a {
					margin: 10px 0;
				}
			}
			.bottom-section-content {
				height: 251px;
				.cell {
					display: inline-block;
					text-align: center;
					padding: 0 3%;
					width: 100%;
				}
			}
			p {
				font: normal 400 18px/26px $basic_font;
			}
		}
	}
}
