//
// Name:            Buttons
//
// Description:     Contains all button styles
//

// ========================================================================
// Component
// ========================================================================

.btn {
	border: 2px solid $white;
	color: $white;
	font: normal 700 14px/120% $basic_font;
	letter-spacing: 2.07px;
	padding: 15px 10px;
	min-width: 150px;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	&:hover {
		color: $white;
		-webkit-box-shadow: 0 0 10px 8px hsla(0,0%,100%,.8);
		-moz-box-shadow:    0 0 10px 8px hsla(0,0%,100%,.8);
		box-shadow:         0 0 10px 8px hsla(0,0%,100%,.8);
	}
}
.new-header, .main.page, .home-page {
	.btn {
		-webkit-box-shadow: 0 0 5px 2px rgba(255,255,255,.5);
		-moz-box-shadow:    0 0 5px 2px rgba(255,255,255,.5);
		box-shadow:         0 0 5px 2px rgba(255,255,255,.5);
		&:hover {
			-webkit-box-shadow: 0 0 5px 4px hsla(0,0%,100%,.5);
			-moz-box-shadow:    0 0 5px 4px hsla(0,0%,100%,.5);
			box-shadow:         0 0 5px 4px hsla(0,0%,100%,.5);
		}
	}
}

.blue-header {
    .btn {
        border: 2px solid $title-box;
        color: $title-box;
        &:hover {
            background: $title-box;
            color: $white;
        }
    }
}
.more {
	color: $blue_light;
	font: normal 700 14px/16px $basic_font;
	letter-spacing: 2.07px;
	text-transform: uppercase;
}
