//
// Name:            Description section
//
// Description:     Description section styles
//

// ========================================================================
// Component
// ========================================================================


.main {
	.description-section {
		padding: 150px 0 143px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(255, 255, 255, 0.9);
			height: 100%;
			width: 100%;
			z-index: 1;
			-webkit-backdrop-filter: blur(5px);
			-moz-backdrop-filter:  blur(5px);
			-o-backdrop-filter: blur(5px);
			-ms-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
		}
		.wrap {
			position: relative;
			z-index: 5;
		}
		.title-box {
			max-width: 210px;
			color: $title-box;
			font: normal 500 72px/80px $basic_font;
			float: left;
		}
		.content-box {
			padding: 150px 0 0 250px;
			p {
				font: normal 400 24px/34px $basic_font;
				margin: 36px 0 0;
			}
			.more {
				margin: 51px 0 0 0;
				display: inline-block;
				letter-spacing: 2px;
			}

		}
	}
}
.home-page {
	.main {
		.description-section {
			.title-box {
				position: relative;
				&:before {
					background: url("../images/triangle-blue.svg") no-repeat left top;
					@include rotate(-90deg);
					content: '';
					position: absolute;
					right: 0;
					top: 100%;
					margin-top: 32px;
					height: 130px;
					width: 130px;

				}
			}
		}
	}
}
@media only screen and (max-width: 992px)  {
	.main {
		.description-section {
			background-color: rgba(255, 255, 255, 1);
			padding: 231px 0 111px;
			.wrap {
				padding-left: 57px;
				padding-right: 57px;
			}
			.title-box {
				max-width: 210px;
				font: normal 500 60px/65px $basic_font;
				float: left;
			}
			.content-box {
				padding: 109px 0 0 250px;
				p {
					font: normal 400 18px/28px $basic_font;
				}
				.more {
					margin-top: 43px;
				}
			}
		}
	}
	.home-page {
		.main {
			.description-section {
				.title-box {
					&:before {
						background-size: contain;
						height: 89px;
						width: 89px;

					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px)  {
	.main {
		.description-section {
			padding: 222px 0 92px;
			.wrap {
				padding-left: 38px;
				padding-right: 38px;
			}
			.title-box {
				max-width: none;
				font: normal 500 40px/45px $basic_font;
				width: 100%;
			}
			.content-box {
				padding: 109px 0 0;
				p {
					font: normal 400 18px/28px $basic_font;
				}
				.more {
					margin-top: 34px;
				}
			}
		}
	}
	.home-page {
		.main {
			.description-section {
				.title-box {
					&:before {
						background-size: contain;
						height: 28px;
						width: 26px;
						@include rotate(0deg);
						right: auto;
						left: 0;
						margin-top: 32px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 620px)  {
	.main {
		.description-section {
			.title-box {
				font: normal 500 30px/35px $basic_font;
			}
			.content-box {
				padding: 57px 0 0;
				p {
					font: normal 400 17px/24px $basic_font;
				}
				.more {
					margin-top: 27px;
				}

			}
		}
	}
	.home-page {
		.main {
			.description-section {
				.title-box {
					&:before {
						height: 24px;
						width: 22px;
						margin-top: 19px;
					}
				}
			}
		}
	}
}
