
// ========================================================================
// Component: Form
// ========================================================================

.form-wrapper {
	margin:20px auto;

	h1 {
		margin:0 0 20px 0;
	}
}

input,
select,
textarea {
	margin: 0;
	@include border-radius(0);
	font: inherit;
	color: inherit;

	// Focus
	&:focus {
		outline: 0;
	}
}

// Vertical alignment
input,
select {
	vertical-align: middle;
}

// Address inconsistent `.text-transform` inheritance which is only inherit in Firefox
select {
	text-transform: none;
}

optgroup {
	font: inherit;
	font-weight: bold;
}

input {

	// Removes inner padding and border in Firefox 4+.
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

input {

	// Remove inner padding and search cancel button in Chrome, Safari and Opera on OS X.
	&[type="search"] {
		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {}
	}

	// Remove button on `.number` input
	&[type="number"] {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}
	}
}

// Define consistent border, margin, and padding.
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	min-height: 150px;
}

// Removes placeholder transparency in Firefox.
::-moz-placeholder {
	opacity: 1;
}

// Removes `.box-shadow` for invalid controls in Firefox.
:invalid {
	box-shadow: none;
}

::-ms-clear {
	display: none;
}

// Style
// ========================================================================

// Remove margin from the last-child
form > {
	:last-child {
		margin-bottom: 0;
	}
}
&:-ms-input-placeholder {

}
&::-moz-placeholder {

}
&::-webkit-input-placeholder {

}
&:disabled {
	&:-ms-input-placeholder {

	}
	&::-moz-placeholder {

	}
	&::-webkit-input-placeholder {

	}
}

// Controls
// Expand width to container of [class*="col-"]
select,
textarea,
input:not([type]),
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	[class*="col-"] > & {
		width: 100%;
		display: block;
	}
}

input {
	&[type="checkbox"],
	&[type="radio"] {
		width: auto;
		display: inline-block;
	}
}

select,
textarea,
input {
	max-width: 100%;
	display: inline-block;
	transition: all linear 200ms;
	width: 100%;

	.form-error & {

	}

	.form-valid & {

	}

	// Focus state
	&:focus {

	}

	// Disabled state
	&:disabled {

	}
}

// Legend
legend {
	width: 100%;
	border: 0;
	padding: 0;

	&:after {
		content: "";
		display: block;
		width: 100%;
	}
}

// Reset height
// Must be after size modifiers
// ========================================================================

textarea,
select[multiple],
select[size] {
	height: auto;
}

// Sub-objects: `.label`
// ========================================================================

label {
	opacity: 1!important;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	// width:100%;
	font: normal 400 14px/100% $basic_font;
	text-transform: uppercase;
	color: $white;
	letter-spacing: 2.07px;
	margin-bottom: 15px;

}

.gform_fields {

	&,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		position: relative;
		margin-bottom:20px;
	}

	> li {
		display: flex;
		flex-direction: column;

		+ li {

		}

		> label {
			&:first-child {
				margin-bottom: 15px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
	}
}

input[type="text"],
input[type="email"],
input[type="password"] {
	background: $form_bg;
	border: 2px solid $form_border_color;
	color: $white;
	font: normal 400 18px/30px $basic_font;
	padding: 10px 12px;
	height: 50px;
	&:focus {
		border: 2px solid white;
		-webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
		-moz-box-shadow:    0 0 5px 2px rgba(255, 255, 255, 0.5);
		box-shadow:         0 0 5px 2px rgba(255, 255, 255, 0.5);
	}
	&.error {
		border: 2px solid $red_light;
	}

	&.valid {
		border: 2px solid $blue__medium;
	}
}

select {
	padding: 0 11px;
	color: $white;
	height: 50px;
	@include linear-gradient((180deg, rgba(72, 72, 72, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%));
	border: 2px solid $form_border_color;
}
select option{
	// background: transparent;
	color: rgb(0,0,0);
}
.selectric {
	color: $white;
	height: 50px;
	@include linear-gradient((180deg, rgba(72, 72, 72, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%));
	border: 2px solid $form_border_color;
}
.selectric .label {
	color: $white;
	height: 46px;
	padding: 8px 11px 8px 1px;
	font: normal 400 18px/30px $basic_font;
}
.selectric .button {
	background: none;
	border: none;
	height: 46px;
}
.selectric .button:after {
	border-style: solid;
	border-width: 7.8px 4.5px 0 4.5px;
	border-color: $white transparent transparent transparent;
}
.selectric-items li {
	padding: 11px;
	font: normal 400 14px/100% $basic_font;
}
.selectric-items li.highlighted {
	color: $white;
	background: $black;
}
.selectric-items li:hover {
	color: $white;
	background: $blue__medium;
}
textarea {
	color: $white;
	background: $form_bg;
	border: 2px solid $form_border_color;
	font: normal 400 18px/30px $basic_font;
	padding: 10px 12px;
	resize: none;
	height: 150px;
	&:focus {
		border: 2px solid white;
		@include box-shadow(0 0 5px 2px rgba(255, 255, 255, 0.5));
	}
}

input[type="submit"] {
	float: right;
	display: inline-block;
	min-width: 150px;
	height: 50px;
	padding: 10px 5px;
	background: $blue__medium;
	border:none;
	text-align: center;
	cursor:pointer;
	color: $white;
	font: normal 700 14px/30px $basic_font;
	letter-spacing: 2.07px;
	width: auto;
	margin: 3px 0 0 5px;
	-webkit-appearance: none;
	&:hover {
		letter-spacing: 4px;
	}
}
.cell-form {
	display: block;
	margin: 0 0 27px;
	p {
		display: none;
	}
	&.error {
		p {
			display: block;
			float: right;
			color: #ed3024;
			font-family: Roboto;
			font: normal 400 14px/15px $basic_font;
			letter-spacing: 2.07px;
		}
		label.error {
			display: none!important;
		}

		.selectric {
			border: 2px solid #ed3024;
		}
	}

}

.checkbox-form {
	display: inline-block;
	position: relative;
	opacity: 1!important;
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
	}
	label {
		text-transform: capitalize;
		color: $white;
		font: normal 400 18px/30px $basic_font;
		position: relative;
		display: inline-block;
		width: auto;
		padding: 0  0 0 37px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			width: 20px;
			height: 20px;
			border: 2px solid $white;
			z-index: 1;
		}
	}
	input[type="checkbox"]:checked + label {
		&:after {
			content:'';
			position: absolute;
			left: 6px;
			top: 11px;
			width: 8px;
			height: 8px;
			z-index: 11;
		}
	}
}

#field_1_5{
	margin-top: -50px;
	.gfield_label{
		visibility: hidden;
	}
	position: relative;

	label {
		text-transform: capitalize;
		letter-spacing: 2px;
		line-height:20px;
		padding-left:50px;
		color: $white;
		font: normal 700 18px/30px $basic_font;
		&:before{
			position: absolute;
			content: '';
			transition: .3s cubic-bezier(.68,-.55,.265,1.55);
			top: 5px;
			left: 5px;
			width: 25px;
			height: 25px;
			background:$form_bg;
			@include border-radius(2px);
			background-clip: padding-box;
			border:1px solid #ccc;
			text-align:center;
		}
	}
	label.disabled {
		opacity: 0.75;
	}
	input {
		position: absolute;
		@include size(100%);
		top: -5px;
		left: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
	}
	input:checked + label:before {
		top: 5px;
		content:'✔';
		color: $blue__medium;
	}
}

.inputfile {
	position: absolute;
	overflow: hidden;
	opacity: 0;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
	@include size(100%);

	// Hover state
	&:hover {
		+ label {

		}
	}

	+ label {
		color: inherit;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
		overflow: hidden;
		text-transform: none;
		display: inline-flex;
		align-items: center;
		transition: all linear 200ms;

		svg {
			width: 1em;
			height: 1em;
			vertical-align: middle;
		}
	}
}

.form {
	&-footer {
		* + & {

		}
	}

	&-error {
		label.error {
			font-size: 12px;
		}
	}

	&-success {
		label.success {
			font-size: 12px;
		}
	}
}

.gfield_checkbox {
	display: inline-block;
	position: relative;

	label {
		line-height:20px;
		padding-left:35px;
	}

	label:before {
		position: absolute;
		content: '';
		transition: .3s cubic-bezier(.68,-.55,.265,1.55);
		top: 0;
		left: 5px;
		width: 20px;
		height: 20px;
		background:#fff;
		@include border-radius(2px);
		background-clip: padding-box;
		border:1px solid #ccc;
		text-align:center;
	}

	input:checked + label:before {
		content:'✔';
		color: $white;
	}

	label.disabled {
		opacity: 0.75;
	}

	input {
		position: absolute;
		display: block;
		@include size(100%);
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
	}
}

.gfield_radio {
	display: inline-block;
	position: relative;

	li {
		position:relative;
	}

	label {
		padding-left:30px;
		line-height:20px;

		&:before {
			top: 4px;
			right: 4px;
			top: 0;
			left: 4px;
			width:20px;
			height:20px;
			background:#fff;
			border-radius: 100%;
			position: absolute;
			content: '';
			border:1px solid #ccc;
			transition: .3s cubic-bezier(.68,-.55,.265,1.55);
		}
	}

	input:checked + label:before {
		background:#ccc;
	}

	&.disabled {
		opacity: 0.75;
	}

	input {
		position: absolute;
		display: block;
		@include size(100%);
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
	}
}

.gform_footer {
	margin-top:20px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.gform_confirmation_message{
	color: $white;
	font-size: 36px;
  line-height: 1.3;
}
@media only screen and (max-width: 620px)  {
	input[type="submit"] {
		margin: 0;
		width: 100%;
	}
	.checkbox-form {
		label {
			font-size: 14px;
		}
	}
}
.message {
	display: none;
	border: 1px solid #00ff00;
    color: #00ff00;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
}
.message.error {
	border: 1px solid #F7463B;
    color: #F7463B;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}
.gfield_error{
	border-top: 1px solid #F7463B !important;
	border-bottom: 1px solid #F7463B !important;
	select{
		border: 1px solid #F7463B;
	}
}


.gform_wrapper .gfield_required{
   color: #F7463B !important; 
}

.gform_wrapper div.validation_error{
    border-top: 2px solid #F7463B !important;
    border-bottom: 2px solid #F7463B !important;
    color: #F7463B !important;
}


.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
    background: transparent !important;
    border: none !important;
}

.gform_wrapper .gfield_error .gfield_label {
    color: #F7463B !important;

}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
    border: 1px solid #F7463B !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{
    color: #F7463B !important;
}

#gforms_confirmation_message_1{
    padding: 155px 0 0 30px;
}

.gform_confirmation_message{
    font-size: 30px;
}

