//
// Name:            Image gallery section
//
// Description:     Image gallery section styles
//

// ========================================================================
// Component
// ========================================================================


.image-gallery-section {
	background-color: rgba(255, 255, 255, 0.9);
	@include clearfix();
	padding: 0 0 108px;
	margin: 0;
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter:  blur(5px);
	-o-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	.image-gallery-section-wrapp {
		margin: 0 -14px;
	}
	.gallery-item {
		@include transition(1s);
		padding: 14px;
		float: left;
		width: 58%;
		filter: blur(10px);
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-o-filter: blur(10px);
		-ms-filter: blur(10px);
		&:nth-child(2n) {
			float: right;
			width: 42%;
		}
		&:first-child {
			margin-top: 90px;
		}
		img {
			width: 100%;
		}
		&.visible {
			filter: blur(0px);
			-webkit-filter: blur(0px);
			-moz-filter: blur(0px);
			-o-filter: blur(0px);
			-ms-filter: blur(0px);
		}
		.gallery-item-content {
			padding: 109px 0;
			max-width: 360px;
			float: right;
			.gallery-item-quote {
				color: $black;
				font: italic 400 24px/34px $basic_font;
			}
			.author-name {
				margin: 37px 0 0;
				font: normal 400 14px/16px $basic_font;
				color: $black;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
	}
}
@media only screen and (max-width: 992px)  {
	.image-gallery-section {
		background-color: $white;
		padding: 0 0 56px;
		.wrap {
			padding-left: 56px;
			padding-right: 56px;
		}
		.image-gallery-section-wrapp {
			margin: 0 -8px;
		}
		.gallery-item {
			padding: 8px;
			&:first-child {
				margin-top: 56px;
			}
			.gallery-item-content {
				padding: 46px 0 46px 17px;
				.gallery-item-quote {
					font: italic 400 18px/28px $basic_font;
				}
				.author-name {
					margin: 20px 0 0;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px)  {
	.image-gallery-section {
		.wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
@media only screen and (max-width: 620px)  {
	.image-gallery-section {
		padding: 0 0 45px;
		.image-gallery-section-wrapp {
			margin: 0 0px;
		}
		.gallery-item {
			padding: 8px 0;
			width: 100%;
			&:nth-child(2n) {
				width: 100%;
			}
			&:first-child {
				margin-top: 0px;
			}
			.gallery-item-content {
				padding: 39px 22px;
				max-width: none;
				.gallery-item-quote {
					font: italic 400 16px/24px $basic_font;
				}
				.author-name {
					margin: 10px 0 0;
				}
			}
		}
	}
}
