//
// Name:            Top banner
//
// Description:     Top banner styles
//

// ========================================================================
// Component
// ========================================================================

.top-banner {
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	position:relative;
	height:400px;
	width:100%;
	z-index:111;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.top-info-content {
		position: absolute;
		left: 0;
		bottom: 183px;
		padding: 0 140px;
		width: 100%;
		color: $white;
		z-index: 11;
		.top-info-wrapp {
			max-width: 1156px;
			display: block;
			margin: 0 auto 25px;
		}
		p {
			font: normal 400 18px/21px $basic_font;
			br {
				display: none;
			}
			a {
				color: $blue_light;
				font: normal 700 14px/21px $basic_font;
				letter-spacing: 2px;
				text-transform: uppercase;
				display: inline-block;
				margin: 0 0 0 8px;
			}
		}
	}
}
.animated-text-box {
	max-width: 1150px;
	margin: auto;
}
.animated-text-wrapp {
	display: block;
	position: absolute;
	left: 0;
	max-width: none;
	padding: 0 150px;
	z-index: 1111;
	top: 275px;
	width: 100%;
	.animated-text {
		.char {
			display: inline-block;
			position: relative;
			&.char-space {
				width: 32px;
			}
			&.char-dot {
				background: none;
				height: 100%;
				width: 24px;
				vertical-align: bottom;
				&:before {
					content: '.';
					margin-top: -15px;
					height: 24px;
					width: 24px;
					overflow: hidden;
					display: inline-block;
					@include border-radius(24px);
				}
				&.char-normal {
					direction: ltr;
					&:before {
						background: rgba(255,255,255, 0.4);

					}
				}
				&.char-rev {
					direction: rtl;
					&:before {
						background: $white;
					}
				}
			}

		}
		.cursor{
			height: 64px!important;
		}
	}
	.animated-text {
		font: normal 700 72px/72px $second_font;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 12px;
	}
}
.page-template-template-home {
	.top-banner {
		height:850px;
	}
	.animated-text-box {
		max-width: 1153px;
	}
	.animated-text-wrapp {
		padding: 0 140px;
		top: 311px;
		.animated-text {
			height: 150px;
			font: normal 700 140px/140px $second_font;
			letter-spacing: 22px;
			.cursor{
				height: 140px!important;
			}
		}
	}
}



@media only screen and (max-width: 1190px)  {
	.page-template-template-home {
		.top-banner {
			.top-info-content {
				padding: 0 58px;
			}
		}
		.animated-text-wrapp {
			padding: 0 58px;
		}
	}
	.animated-text-wrapp {
		padding: 0 58px;
	}
}
@media only screen and (max-width: 1024px)  {
	.page-template-template-home {
		.animated-text-wrapp {
			.animated-text {
				font: normal 700 100px/100px $second_font;
			}
		}
	}
}
@media only screen and (max-width: 992px)  {
	.top-banner {
		z-index: 110;
		height: 299px;
	}
	.animated-text-wrapp {
		padding: 0 80px;
		top: 204px;
		.animated-text {
			height: 62px;
			margin: 0;
			font: normal 700 54px/62px $second_font;
			letter-spacing: 8px;
			.char {
				&.char-space {
					width: 16px;
				}
				&.char-dot {
					width: 8px;
					&:before {
						margin-top: -15px;
						height: 8px;
						width: 8px;
						@include border-radius(8px);
					}
				}
			}
			.cursor{
				height: 56px!important;
			}
		}
	}
	.page-template-template-home {
		.top-banner {
			height:795px;
			.top-info-content {
				bottom: 253px;
				padding: 0 80px;
			}
		}
		.animated-text-wrapp {
			padding: 0 80px;
			top: 232px;
			.animated-text {
				height: 100px;
				margin: 0;
				font: normal 700 78px/78px $second_font;
				letter-spacing: 18px;
				.cursor{
					height: 72px!important;
				}
			}

		}

	}
}
@media only screen and (max-width: 767px)  {
	.top-banner {
		height: 200px;
	}
	.animated-text-wrapp {
		padding: 0 37px;
		top: 142px;
		.animated-text {
			height: 45px;
			font: normal 700 45px/45px $second_font;
			letter-spacing: 12px;
			.cursor{
				height: 39px!important;
			}
		}
	}
	.page-template-template-home {
		.top-banner {
			height: 531px;
			.top-info-content {
				bottom: 253px;
				padding: 0 39px;
			}
		}
		.animated-text-wrapp {
			padding: 0 38px;
			top: 163px;
			.animated-text {
				height: 45px;
				font: normal 700 45px/45px $second_font;
				letter-spacing: 12px;
				.cursor{
					height: 39px!important;
				}
			}
		}
	}
}
@media only screen and (max-width: 620px)  {
	.animated-text-wrapp {
		.animated-text {
			height: 32px;
			font: normal 700 27px/34px $second_font;
			letter-spacing: 8px;
			.char {
				&.char-space {
					width: 10px;
				}
				&.char-dot {
					width: 4px;
					&:before {
						margin-top: -15px;
						height: 4px;
						width: 4px;
						@include border-radius(4px);
					}
				}
			}
			.cursor{
				height: 25px!important;
			}
		}
	}
	.page-template-template-home {
		.top-banner {
			.top-info-content {
				bottom: 250px;
				p {
					display: block;
					float: left;
					br {
						display: inline;
					}
					a {
						margin: 15px 0 0;
						display: inline-block;
					}
				}
			}
		}
		.animated-text-wrapp {
			.animated-text {
				height: 32px;
				font: normal 700 32px/37px $second_font;
				letter-spacing: 8px;
				.cursor{
					height: 30px!important;
				}
			}
		}
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.animated-text-wrapp{
		left: 100px;
	}
	.animated-text{
		position: inherit !important;
	}
}
@supports (-ms-ime-align:auto) {
	.animated-text-wrapp{
		left: 100px;
	}
	.animated-text{
		position: inherit !important;
	}  
}
