//
// Name:            Fonts
//
// Description:     Contains all fonts
//


// ========================================================================
// Component: Fonts
// ========================================================================

$basic_font: 'Roboto', sans-serif;
$first_font: 'Roboto Mono', monospace;
$second_font: 'Open Sans', sans-serif;
