//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================

// ========================================================================
// Component: Variables
// ========================================================================


// Fonts


// Colors

/*Defaults Color */

$white: #fff;
$black: #000000;
$navy: #001f3f;
$blue: #417EC6;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$maroon: #85144b;
$fuchsia: #F012BE;
$purple: #B10DC9;
$silver: #DDDDDD;

$blue_light: #4a90e2;

$form_bg: #161616;
$form_border_color: #919191;
$blue__medium: #4990e2;
$red_light: #ed3024;
$title-box: #262e97;
$tw_time_color: #9b9b9b;
$mousearea_bg: #11155e;
$mousearea_color: #686e9f;


$section_grid_content_bg: #f4f4f4;

// Grid

