.error404{
  .page-header{
    /*display: none;*/
    background: $blue__medium;
  }
  .alert{
    padding: 250px 200px 175px 200px;
    h1{
      color: $title-box;
      font-size: 64px;
    }
    p{
      font-size: 20px;
      font-weight: bold;
      margin-top: 75px;
    }
    a{
      color: #262e97;
      &:hover{
        color: #262e97;
      }
    }
  }
}
@media all and (max-width: 768px){
  .error404{
    .alert{
      padding: 250px 50px 200px;
    }
  }
}

@media all and (max-width: 415px){
  .error404{
    .alert{
      padding: 250px 50px 150px;
      h1{
        font-size: 42px;
      }
    }
  }
}
