.footer {
	position:absolute;
	width:100%;
	left: 0;
	bottom: 0;
	z-index: 120;
	.wrapper {
		max-width: none;
		padding: 43px 50px 43px;
		p {
			font: normal 400 12px/120% $basic_font;
			color: $white;
			a {
				display: inline-block;
				color: $blue;
			}
		}
	}
	&.new-footer {
		position: relative;
		left: auto;
		top: auto;
		background: $black;
		z-index: 90;
		.wrapper {
			padding: 52px 20px 118px;
			max-width: 1178px;
		}
		.logo {
			margin-bottom: 59px;
		}
		.row {
			display: block;
			margin: 0;
			padding: 0;
			background: none;
			@include clearfix;
			.coll {
				display: inline-block;
				vertical-align: top;
			}
		}
		h4 {
			opacity: 0.5;
			color: $white;
			font: normal 700 14px/19px $first_font;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		a {
			&:hover {
				color: $white;
			}
		}
		.coll {
			min-width: 290px;
			padding-right: 15px;
			p, a, li {
				font: normal 400 18px/28px $basic_font;
			}
			p, ul {
				margin-top: 26px;
			}
			p {
				&.tell-box {
					margin-top: 30px;
				}
				&.mail-box {
					margin-top: 16px;
				}
			}
			ul {
				padding: 0;
				list-style: none;
				li {
					a {
						color:$blue_light;
						&:hover {
							color: $white;
						}
					}
				}
			}
			&.right {
				min-width: 258px;
				ul {
					margin-top: 10px;
					li {
						a {
							font: normal 400 14px/28px $basic_font;
						}
					}
				}
				p {
					margin-top: 28px;
					font: normal 400 12px/18px $basic_font;
					a {
						color: $white;
						font: normal 400 12px/18px $basic_font;
						&:hover {
							color: $blue__medium;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
.social-links {
	display: inline-block;
	margin-top: 27px;
	a {
		float: left;
		clear: both;
		position: relative;
		padding: 0 0 0 34px;
		margin: 0 0 5px;
		background: none;
		font: normal 400 18px/28px $basic_font;
		color: $blue_light;
        text-transform: capitalize;
		&:before {
			position: absolute;
			left: 0;
			top: 5px;
			width: 14px;
			height: 18px;
			content: '';
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.facebook {
			&:before {
				background-image: url("../images/facebook.svg");
			}
		}
		&.linkedin {
			&:before {
				background-image: url("../images/linkedin.svg");
			}
		}
		&.twitter {
			&:before {
				background-image: url("../images/twitter.svg");
			}
		}
		&:hover {
			color: $white;
		}
	}
}
@media only screen and (max-width: 992px) and (min-width: 1px) {
	.footer {
		&.new-footer {
			.wrapper {
				text-align: left;
				padding: 56px 55px 95px;
				max-width: 1178px;
			}
			.logo {
				width: 183px;
				margin-bottom: 59px;
			}
			.row {
				display: block;
				margin: 0;
				padding: 0;
				background: none;
				.coll {
					display: inline-block;
					vertical-align: top;
				}
			}
			.coll {
				min-width: 210px;
				padding-right: 15px;
				margin-bottom: 20px;
				&:first-child {
					min-width: 276px;
				}
				p, a, li {
					font: normal 400 16px/24px $basic_font;
				}
				p, ul {
					margin-top: 26px;
				}
				p {
					&.tell-box {
						margin-top: 30px;
					}
					&.mail-box {
						margin-top: 16px;
					}
				}
				ul {
					padding: 0;
					list-style: none;
					li {
						a {
							color:$blue_light;
							&:hover {
								color: $white;
							}
						}
					}
				}
				&.right {
					min-width: 157px;
					padding-right: 0;
					ul {
						margin-top: 10px;
						li {
							a {
								font: normal 400 14px/28px $basic_font;
							}
						}
					}
					p {
						margin-top: 28px;
						font: normal 400 12px/18px $basic_font;
						a {
							color: $white;
							font: normal 400 12px/18px $basic_font;
							&:hover {
								color: $blue__medium;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 850px) and (min-width: 1px) {
	.footer {
		.wrapper {
			padding: 20px 50px;
		}
	}
}
@media only screen and (max-width: 767px) and (min-width: 1px) {
	.footer {
		&.new-footer {
			.wrapper {
				padding: 31px 30px 69px;
				text-align: left;
			}
			.logo {
				width: 119px;
				margin-bottom: 33px;
			}
			 h4 {
				 font-size: 12px;
				 font-weight: 700;
			 }
			.row {
				margin: 0;
			}
			.coll {
				min-width: 0px;
				width: 205px;
				padding: 0 9px;
				margin-top: 0;
				&:first-child {
					min-width: 1px;
					margin-top: 0;
				}
				p, a, li {
					font: normal 400 14px/22px $basic_font;
				}
				p, ul {
					margin-top: 20px;
				}
				p {
					&.tell-box {
						margin-top: 21px;
					}
					&.mail-box {
						margin-top: 18px;
					}
				}
				ul {
					padding: 0;
					list-style: none;
					li {
						a {
							color:$blue_light;
							&:hover {
								color: $white;
							}
						}
					}
				}
				&.right {
					margin-top: 0;
					min-width: 1px;
					float: none;
					padding: 0 9px;
					ul {
						margin-top: 10px;
						li {
							a {
								font: normal 400 14px/28px $basic_font;
							}
						}
					}
					p {
						margin-top: 28px;
						font: normal 400 12px/18px $basic_font;
						a {
							color: $white;
							font: normal 400 12px/18px $basic_font;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.social-links {
		margin-top: 20px;
		a {
			font: normal 400 14px/22px $basic_font;
			&:before {
				top: 2px;
				width: 12px;
				height: 16px;
			}
		}
	}
}
@media only screen and (max-width: 690px) and (min-width: 1px) {
	.footer {
		&.new-footer {
			.coll {
				width: 49%;
			}
		}
	}
}
@media only screen and (max-width: 620px) and (min-width: 1px) {
	.footer {
		.wrapper {
			padding: 20px;
			text-align: center;
		}
	}
}

@media only screen and (max-width: 460px) and (min-width: 1px) {
	.footer {
		&.new-footer {
			.coll {
				width: 100%;
				margin: 58px 0 0;
				&:first-child {
					margin-top: 0;
				}
				&.right {
					width: 100%;
					margin-top: 35px;
				}
			}
		}
	}

}
