.header {
	position: absolute;
	left: 0;
	top: 0!important;
	padding: 23px 58px;
	width:100%;
	opacity: 1!important;
	z-index: 120;
	.btn {
		margin: 5px 0 0 5px;
	}
	&.new-header {
		.btn {
			margin-top: 7px;
			float: right;
		}
		.logo {
			float: left;
		}
	}
}
.nav-toggle {
	display: none;
	overflow: hidden;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background: url("../images/nav-toggle.svg") no-repeat center center;
	float: right;
}

.blue-header {
    .nav-toggle {
        background-image: url("../images/nav-toggle-blue.svg");
    }
}

.logo {
	display:inline-block;
	width:184px;
	margin-bottom:20px;
	vertical-align:top;
	a {
		display:block;
		img {
			width: 100%;
		}
	}
}
@media only screen and (max-width: 1024px)  {
	.header {
		&.new-header {
			padding: 23px 38px;
			.logo {
				width: 150px;
			}
		}
	}
}
@media only screen and (max-width: 992px)  {
	.header {
		&.new-header {
			padding: 26px 20px 20px;
			.logo {
				width: 130px;
			}
			.nav-toggle {
				display: inline;
				margin: 7px 0 0 34px;
			}
		}
	}
}
@media only screen and (max-width: 620px)  {
	.header {
		padding: 23px 20px;
		&.new-header {
			padding: 13px 20px;
			.logo {
				width: 119px;
			}
			.nav-toggle {
				display: inline;
				margin: 3px 0 0 4px;
			}
			.btn {
				display: none;
			}
		}
	}
	.logo {
		width: 150px;
	}
}
@media only screen and (max-width: 360px) {
	.logo {
		width: 111px;
	}
}
