//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Base
// ========================================================================

.main {
	padding:0;
	position:relative;
	z-index:99;
}

.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	position: relative;
	margin:40px 0;

	& + & {
		margin-top: 50px;
		padding-top: 50px;
	}
}

.row {
	margin-left: -.5rem;
	margin-right: -.5rem;
	background:#f7f7f7;

	& + & {
		margin-top:20px;
	}

	&,
	> [class*="col-"] {
		position: relative;
		background:#efefef;
	}

	> [class*="col-"] {
		padding-left: .5rem;
		padding-right: .5rem;
	}

	.box {
		background:#007FFF;
		padding:20px;
		color:#fff;

		& .box {
			background:#06C;
		}
	}
}

.section-full-width {
	position: relative;
	margin:40px 0;

	& + & {
		margin-top: 50px;
		padding-top: 50px;
	}

	.container-fluid {
		padding-left:0;
		padding-right:0;
		max-width:100%;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
		padding-left: .5rem;
		padding-right: .5rem;
		background:#f7f7f7;

		& + & {
			margin-top:20px;
		}

		&,
		> [class*="col-"] {
			position: relative;
			background:#efefef;
		}

		> [class*="col-"] {
			padding-left: .5rem;
			padding-right: .5rem;
		}

		.box {
			background:#007FFF;
			padding:20px;
			color:#fff;

			& .box {
				background:#06C;
			}
		}
	}
}
.home-page {
	padding: 0;
	.wrapper-box {
		display: block;
		margin: auto;
	}
}

@media only screen and (max-width: 768px) and (min-width: 1px) {
	.row > [class*="col-"] {
		flex-basis: 100%;
    	max-width: 100%;
    	margin-bottom:10px;

    	&:first-child {
    		margin-top:10px;
    	}
	}
	.first-xs {
		order:1;
		-ms-flex-order: 1;
	}
	.last-xs {
		order:0;
		-ms-flex-order: 0;
	}
}

// Temporary Style
.row-height {
	height:200px;
}
