.main-nav {
	padding: 21px 0 0;
	margin: 0 200px 0 0;
	display: block;
	.nav-close {
		display: none;
		float: right;
	}
	.logo {
		display: none;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 0 12px;
			margin: 0 0 15px;
			display: inline-block;
			a {
				color: #ffffff;
				font: normal 400 14px/16px $basic_font;
				letter-spacing: 2px;
				text-transform: uppercase;
				&:hover {
					color: $blue__medium;
				}
			}
		}
	}
}

.main-nav ul li:last-child {
    display: none;
}

.topnav {
	display:inline-block;
	margin-left:20px;
	vertical-align:top;
	> ul {
		list-style:none;
		padding:0;

		> li {
			display:inline-block;
			position:relative;
			width:auto;
			margin:0 20px;
			@include transition(.6s);

			> a {
				display:inline-block;
				line-height:100px;
				padding:0 10px;
				@include transition(.6s);

				&:hover {
					background:#efefef;
				}
			}
			ul.submenu {
				display:none;
				position:absolute;
				top:100px;
				left:0;
				background:#efefef;
				z-index:999;
				width:300px;
				list-style:none;
				padding:0;

				li {
					width:100%;
					border-bottom:1px solid #ccc;

					a {
						display:inline-block;
						width:100%;
						padding:10px;

						&:hover {
							background:#ccc;
						}
					}
				}
			}
			&:hover {
				background:#efefef;
			}
		}
	}
}
@media only screen and (min-width: 993px)  {
    .blue-header {
        .main-nav {
            ul {
                li {
                    a {
                        color: $title-box;
                        &:hover {
                            color: $blue__medium;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) and (min-width: 1px) {
	body {
		&.open-nav {
			height: 100%;
			width: 100%;
			overflow: hidden;
		}
	}
	.main-nav {
		background: $title-box;
		position: fixed;
		top: 0;
		left: 120%;
		overflow-y: auto;
		height: 100%;
		padding: 35px;
		width: 100%;
		z-index: 1111;
		@include transition(.6s);
		&.open-nav {
			left: 0;
		}
		.logo {
			display: inline-block;
			margin-bottom: 27px;
		}
		.nav-close {
			display: block;
			position: relative;
			float: right;
			margin: 9px 0 0 0;
			height: 40px;
			width: 35px;
			overflow: hidden;
			text-indent: -9999px;
			&:before {
				background: $white;
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -1px;
				height: 2px;
				width: 100%;
			}
		}
		ul {
			display: inline-block;
			padding: 27px;
			width: 100%;
			li {
				padding: 0;
				margin: 0 0 5px;
				float: left;
				clear: both;
				a {
					display: block;
					font-size: 24px;
					padding: 8px 0;
					font-weight: 400;
					letter-spacing: 3px;
					line-height: 30px;
					text-transform: uppercase;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) and (min-width: 1px) {
	.topnav {
		display:none;
		position:absolute;
		top:100px;
		left:0;
		width:100%;
		background:#f7f7f7;
		z-index:999;
		margin-left:0;

		> ul {

			> li {
				display:inline-block;
				width:100%;
				margin:0;
				height:auto;
				border-top:1px solid #ccc;

				> a {
					width:100%;
					text-align:center;
					padding:10px 0;
					line-height:32px;
				}
				ul.submenu {
					top:0;
					width:100%;
					position:relative;

					li {
						border-top:1px solid #ccc;
						border-bottom:none;
					}
				}
			}
			.parent a {
				background:#efefef;
			}
		}
	}

    .main-nav ul li:last-child{
        display: block;
    }
}
@media only screen and (max-width: 767px) and (min-width: 1px) {
	.main-nav {
		padding: 13px 19px;
		.logo {
			margin-bottom: 15px;
		}
		.nav-close {
			display: block;
			position: relative;
			float: right;
			height: 40px;
			width: 35px;
			overflow: hidden;
			text-indent: -9999px;
			&:before {
				background: $white;
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -1px;
				height: 2px;
				width: 100%;
			}
		}
		ul {
			display: inline-block;
			padding: 27px;
			width: 100%;
			li {
				padding: 0;
				margin: 0 0 5px;
				float: left;
				clear: both;
				a {
					padding: 8px 0;
				}
			}
		}
	}
}


