.history-section {
	padding: 158px 0 100px;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter:  blur(5px);
	-o-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	h2 {
		color: $title-box;
		font: normal 500 48px/56px $basic_font;
	}
	.wrap {
		.history-slider {
			max-width: 1440px;
			padding: 15px 0 0;
			margin: 0 -240px 200px 0;
			position: relative;
			.frame {
				height: 671px;
				margin-bottom: 100px;
				overflow: hidden;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					height: 100%;
					font-size: 10px;
					li {
						float: left;
						position: relative;
						width: 489px;
						height: 100%;
						margin: 0;
						padding: 0 33px 130px;
						text-align: center;
						cursor: pointer;
						@include transition(1s);
						filter: blur(10px);
						-webkit-filter: blur(10px);
						-moz-filter: blur(10px);
						-o-filter: blur(10px);
						-ms-filter: blur(10px);
						filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
						// opacity: .3;
						&.active {
							padding: 90px 33px 0;
							margin: 0;
							filter: blur(0px);
							-webkit-filter: blur(0px);
							-moz-filter: blur(0px);
							-o-filter: blur(0px);
							-ms-filter: blur(0px);
							filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
							// opacity: 1;
							.history-content {
								bottom: 0;
							}
						}

						&.before {
							filter: blur(5px);
							-webkit-filter: blur(2px);
							-moz-filter: blur(2px);
							-o-filter: blur(2px);
							-ms-filter: blur(2px);
							filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
							// opacity: .7;
						}
						.history-image {
							padding: 0 55px 0 0;
							width: 100%;
							img {
								width: 100%;
							}
						}
						.history-content {
							background-image: linear-gradient(168deg, rgba(38, 46, 151, 0.9) 0%, rgba(17, 20, 94, 0.9) 100%);
							@include transition(1s);
							width: 382px;
							height: 279px;
							position: absolute;
							right: 20px;
							bottom: 90px;
							padding: 30px 40px 10px;
							display: inline-block;
							.title {
								color: $white;
								text-align: center;
								font: normal 500 72px/80px $basic_font;
								display: block;
								margin-bottom: 11px;
							}
							.content-slider {
								display: block;
								color: $white;
								text-align: left!important;
								font: normal 400 16px/24px $basic_font;
							}
						}
					}
				}
			}
			.scrollbar {
				position: absolute;
				left: 71px;
				bottom: 16px;
				height: 1px;
				width: 100%;
				max-width: 357px;
				background: $mousearea_color;
				line-height: 0;
				.handle {
					background: none;
					.mousearea {
						border: 1px solid $mousearea_bg;
						@include border-radius(20);
						background-color: $white;
						cursor: pointer;
						position: absolute;
						top: -9px;
						margin-left: -10px;
						left: 50%;
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}

    #large-wrap{
        max-width: 1800px;

        .history-slider{
            max-width: 1700px;
        }
    }
}

.history-section {
    background: $white;
    padding: 50px 0;
    .wrap {
        .history-slider {
            margin: 0 0 100px;
            .frame {
                margin: 0 -20px 50px;
                height: 671px;
                ul {
                    li {
                        width: 489px;
                        padding: 0 33px 130px;
                        &.active {
                            padding: 90px 33px 0;
                        }
                    }
                }
            }
            .scrollbar {
                position: relative;
                left: auto;
                bottom: auto;
                max-width: none;
            }
        }

    }
}



@media only screen and (min-width: 993px)  {
	.main {
		&.about {
			.image-section {
				height: 352px;
			}
		}
	}
}@media only screen and (max-width: 992px)  {
	.history-section {
		background: $white;
		padding: 50px 0;
		.wrap {
			.history-slider {
				padding: 27px 0 0;
				margin: 0 0 100px;
				.frame {
					margin: 0 -20px 50px;
					height: 671px;
					ul {
						li {
							width: 489px;
							padding: 0 33px 130px;
							&.active {
								padding: 90px 33px 0;
							}
						}
					}
				}
				.scrollbar {
					position: relative;
					left: auto;
					bottom: auto;
					max-width: none;
				}
			}

		}
	}
}
@media only screen and (max-width: 767px)  {
	.history-section {
		padding: 30px 0;
		h2 {
			color: $title-box;
			font-size: 36px;
			line-height: 46px;
			padding: 20px 0 0;
			br {
				display: none;
			}
		}
		.wrap {
			.history-slider {
				padding: 10px 0 0;
				margin-bottom: 40px;
				.frame {
					height: 460px;
					margin-bottom: 30px;
					ul {
						li {
							width: 320px;
							padding: 0 20px 50px;
							&.active {
								padding: 50px 20px 0;
															}
							.history-image {
								padding: 0 55px 0 0;
							}
							.history-content {
								width: 242px;
								height: 240px;
								padding: 20px 20px 10px;
								.title {
									font: normal 500 57px/62px $basic_font;
								}
								.content-slider {
									font: normal 400 14px/22px $basic_font;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 620px)  {
	.history-section {
		padding: 30px 0;
		h2 {
			font-size: 24px;
			line-height: 32px;
		}
		.wrap {
			.history-slider {
				padding: 10px 0 0;
				margin-bottom: 30px;
				.frame {
					margin-bottom: 30px;
					ul {
						li {
							padding: 0 20px 30px;
							&.active {
								padding: 30px 20px 0;
							}
							.history-image {
								padding: 0 30px 0 0;
							}
							.history-content {
								.title {
									font: normal 500 42px/52px $basic_font;
								}
								.content-slider {
									font: normal 400 14px/20px $basic_font;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.history-section{
    .wrap{
			.history-slider{
				.frame{
					ul{
						li{
							opacity: .3;
							&.active{
								opacity: 1;
							}
							&.before{
								opacity: .7;
							}
						}
					}
				}
			}
		}
	}
}
