.section-box-grid {
	padding: 0;
	.wrap {
		padding: 0;
		max-width: 1440px;
		@include clearfix();
		.section-grid-block {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left top;
			opacity: 0;
			overflow: hidden;
			-webkit-transform: scale(0.9);
			-moz-transform: scale(0.9);
			-o-transform: scale(0.9);
			-ms-transform:  scale(0.9);
			transform:  scale(0.9);
			-moz-transition: all 0.2s  ease-in;
			-o-transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			float: left;
			padding: 0;
			margin: 0;
			width: 25%;
			height: 362px;
			.section-grid-content {
				background-color: rgba(244,244,244,0.9);
				display: table-cell;
				vertical-align: middle;
				padding: 10px 14%;
				width: 600px;
				height: 362px;
				h3 {
					margin-top: 35px;
					color: $title-box;
					font: normal 700 40px/51px $first_font;
					letter-spacing: 6px;
					text-transform: uppercase;
					&:first-child {
						margin-top: 0;
					}
				}
				h4 {
					color: $title-box;
					font: normal 700 20px/26px $first_font;
					letter-spacing: 3px;
					text-transform: uppercase;
					margin-top: 37px;
					&:first-child {
						margin-top: 0;
					}
				}
				p {
					color: $title-box;
					font: normal 500 24px/34px $basic_font;
					margin-top: 0;
				}
			}
			&:nth-child(3) {
				.section-grid-content {
					padding-left: 21%;
					padding-right: 10%;
				}
			}
			&:nth-child(8), &:nth-child(9) {
				.section-grid-content {
					padding-left: 17%;
					padding-right: 10%;
				}
			}
			&:nth-child(11) {
				.section-grid-content {
					padding-left: 24%;
					padding-right: 10%;
				}
			}
		}
	}
	&.visible {
		.wrap {
			.section-grid-block {
				opacity: 1;
				-webkit-transform: scale(1.01);
				-moz-transform: scale(1.01);
				-o-transform: scale(1.01);
				-ms-transform:  scale(1.01);
				transform:  scale(1.01);
			}
		}
	}
}
.block-zoom {
	background: rgba(255,255,255,0.9);
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter:  blur(5px);
	-o-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	padding: 0;
	.block-zoom-item {
		background: $title-box;
		border-top: 1px solid $white;
		transform: scale(0.75);
		@include transition(.6s);
		padding: 139px 151px;
		@include clearfix();
		&:first-child {
			border: none;
		}
		.left-block {
			float: left;
			width: 63%;
		}
		.right-block {
			float: right;
			width: 31.6%;
		}
		h1, h2, h3, h4, h5, h6, li, p {
			color: $white;
		}
		h3 {
			font: normal 500 48px/56px $basic_font;
		}
		h5 {
			font: normal 400 14px/34px $first_font;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		p {
			margin-top: 25px;
			font: normal 400 24px/34px $basic_font;
		}
		li {
			font: normal 400 16px/26px $basic_font;
		}
		.btn {
			float: left;
			clear: both;
			font: normal 400 13px/120% $first_font;
			margin: 31px 0 0 0;
			min-width: 190px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 15px 0 0 0;
			li {
				padding:  0 0 0 36px;
				margin-top: 20px;
				position: relative;
				&:before {
					background: $white;
					content: '';
					position: absolute;
					left: 11px;
					top: 11px;
					height: 4px;
					width: 4px;
					@include border-radius(4);
				}
				&:first-child {
					margin-top: 0;
				}
			}
		}
		&.visible {
			transform: scale(1);
		}
	}
}
@media only screen and (max-width: 1240px)  {
	.section-box-grid {
		.wrap {
			.section-grid-block {
				width: 25%;
				.section-grid-content {
					h3 {
						font: normal 700 30px/39px $first_font;
						letter-spacing: 4px;
					}
					h4 {
						color: $title-box;
						font: normal 700 16px/23px $first_font;
						letter-spacing: 2px;
					}
					p {
						color: $title-box;
						font: normal 500 16px/34px $basic_font;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 992px)  {
	.section-box-grid {
		background: $white;
		.wrap {
			.section-grid-block {
				width: 33.33%;
				height: 260px;
				.section-grid-content {
					padding: 10px 9%;
					height: 260px;
					h3 {
						margin-top: 35px;
						&:first-child {
							margin-top: 0;
						}
					}
					h4 {
						margin-top: 20px;
						&:first-child {
							margin-top: 0;
						}
					}
					p {
						line-height: 18px;
					}
				}
				&:nth-child(3) {
					.section-grid-content {
						padding-left: 14%;
						padding-right: 9%;
					}
				}
				&:nth-child(8), &:nth-child(9), &:nth-child(11) {
					.section-grid-content {
						padding-left: 9%;
						padding-right: 9%;
						p {
							margin-top: 17px;
						}
					}
				}
			}
		}
	}
	.block-zoom {
		background: $black;
		.block-zoom-item {
			padding: 92px 57px;
			.left-block {
				float: none;
				margin-bottom: 60px;
				width: auto;
			}
			.right-block {
				float: none;
				width: auto;
			}
			h3 {
				font-size: 36px;
				line-height: 44px;
			}
			h5 {
				font-size: 14px;
				line-height: 34px;
			}
			p {
				margin-top: 25px;
				font-size: 18px;
				line-height: 26px;
			}
			.btn {
				float: none;
				margin-top: 60px;
			}
			ul {
				li {
					padding-left:  25px;
					margin-top: 20px;
					&:before {
						left: 0;
					}
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 620px)  {
	.section-box-grid {
		.wrap {
			.section-grid-block {
				width: 50%;
				height: 320px;
				.section-grid-content {
					padding: 10px 9%;
					height: 320px;
					h3 {
						margin-top: 35px;
						&:first-child {
							margin-top: 0;
						}
					}
					h4 {
						margin-top: 30px;
						&:first-child {
							margin-top: 0;
						}
					}
				}
				&:nth-child(3) {
					.section-grid-content {
						padding-left: 9%;
						padding-right: 9%;
						p {
							margin-top: 6px;
						}
					}
				}
				&:nth-child(8), &:nth-child(9), &:nth-child(11) {
					.section-grid-content {
						padding-left: 9%;
						padding-right: 9%;
						p {
							margin-top: 17px;
						}
					}
				}
			}
		}
	}
	.block-zoom {
		.block-zoom-item {
			border-top: 1px solid $white;
			padding: 47px 38px 68px;
			&:first-child {
				border: none;
			}
			.left-block {
				float: none;
				margin-bottom: 21px;
				width: auto;
			}
			.right-block {
				float: none;
				width: auto;
			}
			h3 {
				font-size: 18px;
				line-height: 26px;
			}
			h5 {
				line-height: 22px;
			}
			p {
				margin-top: 13px;
				font-size: 14px;
				line-height: 20px;
			}
			li {
				font-size: 14px;
				line-height: 22px;
			}
			.btn {
				float: none;
				margin-top: 37px;
			}
			ul {
				margin-top: 16px;
				li {
					margin-top: 10px;
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 480px)  {
	.section-box-grid {
		.wrap {
			.section-grid-block {
				width: 100%;
				.section-grid-content {
					padding: 10px 11.5%;
					height: 320px;
					h3 {
						margin-top: 40px;
						&:first-child {
							margin-top: 0;
						}
					}
				}
				&:nth-child(3), &:nth-child(8), &:nth-child(9), &:nth-child(11) {
					.section-grid-content {
						padding-left: 11.5%;
						padding-right: 28%;
					}
				}
				&:nth-child(8), &:nth-child(9), &:nth-child(11) {
					.section-grid-content {
						p {
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
}
