.main-contact {
	background-color: $black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 183px 0 180px;
	position: relative;
	.wrap {
		position: relative;
		max-width: 1226px;
		padding: 0 58px;
		z-index: 110;
	}
	h1, h2, h3, h4, h5, h6, p {
		color: $white;
	}
	h2 {
		margin-bottom: 20px;
		color: $white;
		font: normal 700 36px/82px $basic_font;
		letter-spacing: 6px;
	}
	.contact-form, .contact-info {
		display: block;
		width: 50%;
	}
	.contact-form {
		float: left;
	}
	.contact-info {
		float: right;
		padding: 155px 0 0 30px;
		ul {
			max-width: 481px;
			float: right;
			list-style: none;
			display: block;
			padding: 0;
			margin: 0;
			li{
				display: block;
				min-height: 121px;
				margin-bottom: 50px;
				padding: 0 0 0 195px;
				position: relative;
				a {
					display: block;
				}
				img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					max-width: 165px;
				}
				.title-info {
					display: block;
					color: $white;
					letter-spacing: 2.07px;
					font: normal 400 14px/18px $basic_font;
					text-transform: uppercase;
					transition: all .5s ease-in-out;
					-moz-transition: all .5s ease-in-out;
					-webkit-transition: all .5s ease-in-out;
				}
				.contact-info-box {
					display: block;
					color: $white;
					font: normal 400 18px/28px $basic_font;
					margin-top: 16px;
				}
				&.current {
					.title-info {
						color: $blue_light;
					}
				}
				a {
					display: inline-block;
					cursor: auto;
				}
			}
		}
	}
	.img-box {
		img {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 5;
			transition: all .5s ease-in-out;
			-moz-transition: all .5s ease-in-out;
			-webkit-transition: all .5s ease-in-out;
			&.active {
				z-index: 100;
				opacity: 1;
			}
		}
	}
	&.new-contact {
		label {
			letter-spacing: 2px;
		}g
		.checkbox-form {
			label {
				letter-spacing: 0;
                padding: 5px 40px;
                margin: 0;
			}
		}

        .gform_wrapper h3.gform_title{
            margin-bottom: 20px;
            color: #fff;
            font: normal 700 36px/82px Roboto,sans-serif;
            letter-spacing: 6px !important;
            text-transform: uppercase;
        }

        h2 {
            display: none;
        }
	}
}
.contact-content {
	display: inline-block;
	width: 100%;
}
.main-contact + footer {
	background: $black;
}
@media only screen and (max-width: 992px)  {
	.main-contact {
		.contact-form, .contact-info {
			width: 100%;
		}
		.contact-info {
			padding-left: 0;
            padding-top: 30px;
			ul {
				float: none;
				max-width: none;
			}
		}
		&.new-contact h2 {
			line-height: 40px;
            display: block;
		}

        .contact-form{
            #gforms_confirmation_message_1{
                padding: 30px 0px;
            }
        }

        .gform_wrapper h3.gform_title{
            display: none !important;
        }
	}
}
@media only screen and (max-width: 850px)  {
	.main-contact {
		padding: 150px 0 100px;
	}
}
@media only screen and (max-width: 620px)  {
	.main-contact {
		padding-top: 110px;
		.wrap {
			padding: 0 20px;
		}
		h2 {
			font-size: 30px;
			line-height: 32px;
		}
		.contact-info {
			ul {
				li{
					min-height: 100px;
					margin-bottom: 28px;
					padding: 0 0 0 150px;
					position: relative;
					img {
						max-width: 135px;
					}
					.contact-info-box {
						font: normal 400 14px/20px $basic_font;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 360px)  {
	.main-contact {
		.contact-info {
			ul {
				li{
					min-height: 100px;
					padding: 0 0 0 120px;
					br {
						display: none;
					}
					img {
						max-width: 105px;
					}
				}
			}
		}
	}
}

body img.gform_ajax_spinner {
    display: none!important;
}
