.main {
	&.energy-page {
		.description-section {
			.content-box {
				position: relative;
				.triangle-box {
					position: absolute;
					left: 50%;
					top: 100%;
					margin: 91px 0 0 -70px;
					height: 130px;
					width: 130px;
					@include transition(2s);
				}
			}
		}
		.image-gallery-section {
			.image-gallery-box {
				display: inline-block;
				width: 100%;
				margin: -304px 0 113px;
			}
			.image-gallery-section-wrapp {
				margin: 0 -25px;
			}
			.gallery-item {
				padding: 22px 25px;
				&:first-child {
					margin-top: 85px;
				}
			}

		}
	}
}
@media only screen and (max-width: 992px)  {
	.main {
		&.energy-page {
			.description-section {
				.content-box {
					.triangle-box {
						margin: 30px 0 0 -44px;
						height: 89px;
						width: 89px;
					}
				}
			}
			.image-gallery-section {
				.image-gallery-box {
					margin: -104px 0 50px;
				}
				.image-gallery-section-wrapp {
					margin: 0 -8px;
				}
				.gallery-item {
					padding: 8px;
					&:first-child {
						margin-top: 55px;
					}
				}

			}
		}
	}
}
@media only screen and (max-width: 767px)  {
	.main {
		&.energy-page {
			.description-section {
				.content-box {
					.triangle-box {
						margin-top: 20px;
					}
				}
			}
			.image-gallery-section {
				.image-gallery-box {
					margin: -50px 0 20px;
				}
				.gallery-item {
					&:first-child {
						margin-top: 0px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 620px)  {
	.main {
		&.energy-page {
			.description-section {
				.content-box {
					.triangle-box {
						display: none;
					}
				}
			}
			.image-gallery-section {
				.image-gallery-box {
					margin: 8px 0 20px;
				}
			}
		}
	}
}

