.main {
	&.culture-page {
		.our-team-section {
			padding: 0 0 30px;
			.team-content {
				margin: -320px 0 -105px 0;
				padding: 52px 45px 121px;
				.team-item-author {
					margin: 47px 0 0;
				}
				.triangle-box {
					background: none;
					position: absolute;
					left: 100%;
					bottom: 106px;
					margin: 0 0 0 26px;
					height: 130px;
					width: 130px;
					svg {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						width: 100%;
					}
				}
			}
		}
	}
	&.page {
		.description-section {
			padding: 125px 0 127px;
			.title-box {
				font: normal 500 48px/56px $basic_font;
			}
			.content-box {
				padding: 76px 0 0 250px;
			}
		}
	}
}
@media only screen and (max-width: 992px)  {
	.main {
		&.culture-page {
			.our-team-section {
				padding: 0 0 30px;
				.container-fluid {
					padding-left: 56px;
					padding-right: 56px;
				}
				.team-content {
					margin: -65px 0 7px 0;
					padding: 38px 45px 98px;
					.team-item-author {
						margin: 30px 0 0;
					}
					.triangle-box {
						left: 25px;
						bottom: auto;
						top: 100%;
						margin: 47px 0 0 0;
						height: 89px;
						width: 89px;
					}
				}
			}
		}
		&.page {
			.description-section {
				padding: 121px 0 96px;
				.title-box {
					padding-left: 30px;
					font-size: 36px;
					line-height: 46px;
				}
				.content-box {
					padding: 68px 0 0 250px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px)  {
	.main {
		&.culture-page {
			.our-team-section {
				padding: 0 0 30px;
				.container-fluid {
					padding-left: 15px;
					padding-right: 15px;
				}
				.team-content {
					margin: -50px 0 7px 0;
					padding: 42px 45px 69px;
					.team-item-author {
						margin: 30px 0 0;
					}
					.triangle-box {
						left: 25px;
						bottom: auto;
						top: 100%;
						margin: 47px 0 0 0;
						height: 89px;
						width: 89px;
					}
				}
			}
		}
		&.page {
			.description-section {
				padding: 15px 0 55px;
				.title-box {
					padding: 0 0 15px;
					font-size: 36px;
					line-height: 46px;
				}
				.content-box {
					padding: 0;
				}
			}
		}
	}
}
@media only screen and (max-width: 620px)  {
	.main {
		&.page {
			.description-section {
				.title-box {
					font-size: 24px;
					line-height: 32px;
				}
				.content-box {
					padding: 0;
				}
			}
		}
		&.culture-page {
			.our-team-section {
				padding: 0 0 3px;
				.team-content {
					padding: 45px 20px 69px;
					.triangle-box {
						display: none;
					}
				}
			}
		}
	}
}

