.home-page {
	position: relative;
	z-index: 3;
}
.info-wrapp  {
	position: absolute;
	background: linear-gradient(168deg, rgba(38, 46, 151, 0.9) 0%, rgba(17, 20, 94, 0.9) 100%);
	bottom: 0;
	left: 0;
	height: 150px;
	width: 100%;
}
 #hero1 {
	 padding: 0 106px;
	 margin: auto;
	 max-width: 1366px;
	 height: 100%;
	 width: 100%;
	 position: relative;
	 .swiper-container {
 		width:100%;
 		height:100%;
 		.swiper-slide {
			background: none;
			height: 150px;
 			width:100%;
 			height:100%;
			.info-content {
				display: table-cell;
				width: 1224px;
				height: 150px;
				vertical-align: middle;
				text-align: left;
				.h3 {
					color: $white;
					font: normal 500 36px/40px $basic_font;
					margin: 0 15px 0 0;
				}
				.h3, .date-box, .p {
					display: inline-block;
				}
				.date-box {
					opacity: 0.5;
					color: $white;
					font: normal 400 14px/19px $first_font;
					letter-spacing: 2px;
					margin: 0 15px 0 0;
				}
				.p {
					color: $white;
					font: normal 400 18px/26px $basic_font;
				}
				.more {
					display: none;
				}
				a {
					.p  {
						@include transition(.6s);
						&:hover	{
							color: $blue__medium;
						}
					}
				}
			}
 		}
 	}
 	.pagination {
 		display: none;
 	}
	 .swiper-button-next, .swiper-button-prev {
		 background-image: url(../images/triangle.svg);
		 background-repeat: no-repeat;
		 cursor: pointer;
		 bottom: 53px!important;
		 height: 40px;
		 position: absolute;
		 width: 40px;
		 top: auto;
		 margin: 0;
		 -moz-transition: all 0.4s  ease-in;
		 -o-transition: all 0.4s ease-in;
		 -webkit-transition: all 0.4s ease-in;
		 transition: all 0.4s ease-in;
	 }
	 .swiper-button-next {
		 background-position: center left;
		right: 37px;
		&:hover {
			background-position: center right;
		}
	 }
	 .swiper-button-prev {
		 background-position: center left;
		 left: 37px;
		 @include rotate(180deg);
		 &:hover {
			 background-position: center right;
		 }
	 }
}
.main {
	.our-team-section {
		@include clearfix();
		margin: 0;
		padding: 0 0 100px;
		background-color: rgba(255, 255, 255, 0.9);
		-webkit-backdrop-filter: blur(5px);
		-moz-backdrop-filter: blur(5px);
		-o-backdrop-filter: blur(5px);
		-ms-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		.wrap {
			max-width: 1440px;
		}
		.container-fluid {
			padding-left: 51px;
			padding-right: 51px;
		}
		.our-team-wrapp {
			display: block;
			position: relative;
		}
		.team-content {
			position: relative;
			float: left;
			background-image: linear-gradient(168deg, rgba(38, 46, 151, 0.9) 0%, rgba(17, 20, 94, 0.9) 100%);
			margin: -100px -11.3% 0 0;
			padding: 43px 45px 82px;
			width: 56.3%;
			z-index: 5;
			.team-item-wrapp {
				padding: 0 8.3%;
				display: block;
			}
			.team-item {
				display: inline-block;
				margin: 75px 0 0 0;
				width: 100%;
			}
			.btn {
				margin-top: 75px;
			}
			.team-item-quote {
				color: $white;
				font: italic 400 24px/34px $basic_font;
			}
			.team-item-author {
				display: inline-block;
				margin: 24px 0 0;
				width: 100%;
				.author-img {
					width: 65px;
					height: 65px;
					@include border-radius(40px);
					overflow: hidden;
					border: 1px solid $white;
					margin: 0 20px 10px 0;
					float: left;
				}
				.author-name {
					display: block;
					margin: 12px 0 0 0;
					color: $white;
					font: normal 400 14px/16px $basic_font;
					letter-spacing: 2px;
					text-transform: uppercase;
					strong {
						font-weight: 700;
					}
				}
			}
		}
		.team-image {
			float: right;
			margin: 226px 0 0 0;
			width: 55%;
			z-index: 2;
			img {
				max-width: 100%;
			}
		}
		.team-bottom-box {
			padding: 66px 20px 0 80px;
			float: left;
			clear: left;
			width: 42%;
			.team-item {
				margin-bottom: 20px;
			}
			.team-item-quote {
				color: $black;
				font: italic 400 24px/34px $basic_font;
				margin: 0 0 41px;
			}
			.tw-item-author {
				background: url("../images/fill-1.svg") no-repeat left center;
				display: block;
				padding: 3px 0 3px 46px;
				font: normal 400 14px/19px $first_font;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: $blue_light;
				.tw-name {
					vert-align: top;
					display: inline-block;
				}
				.tw-time {
					vert-align: top;
					color: $tw_time_color;
					display: inline-block;
				}
			}
		}
		h4 {
			color: $white;
			font: normal 700 14px/19px $first_font;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
	.image-section {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		display: block;
		height: 421px;
		width: 100%;

	}
	.new-section {
		padding: 59px 0 67px;
		background-color: rgba(255, 255, 255, 0.9);
		.title-section {
			display: block;
			h4 {
				display: inline-block;
				color: rgba(0, 0, 0, 0.5);
				font: normal 700 14px/19px $first_font;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			.more {
				float: right;
				font: normal 700 14px/19px $first_font;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
		.info-box {
			text-align: center;
			.info-box-item {
				height: 260px;
				.info-box-item-wrap {
					padding: 83px 32px 20px;
					width: 370px;
					height: 240px;
					background: rgb(73, 73, 73); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(73, 73, 73, 1) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(73, 73, 73, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(73, 73, 73, 1) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#000000', GradientType=0); /* IE6-9 */
					.date-box, .h3, .p {
						color: $white;
					}
				}
				&:hover {
					.info-box-item-wrap {
						height: 260px;
						width: 390px;
						padding: 93px 42px 30px;
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#272f97+0,11155e+100 */
						background: rgb(39, 47, 151); /* Old browsers */
						background: -moz-linear-gradient(top, rgba(39, 47, 151, 1) 0%, rgba(17, 21, 94, 1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(39, 47, 151, 1) 0%, rgba(17, 21, 94, 1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(39, 47, 151, 1) 0%, rgba(17, 21, 94, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272f97', endColorstr='#11155e', GradientType=0); /* IE6-9 */
					}
				}
				&.current {
					.info-box-item-wrap {
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#272f97+0,11155e+100 */
						background: rgb(39, 47, 151); /* Old browsers */
						background: -moz-linear-gradient(top, rgba(39, 47, 151, 1) 0%, rgba(17, 21, 94, 1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(39, 47, 151, 1) 0%, rgba(17, 21, 94, 1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(39, 47, 151, 1) 0%, rgba(17, 21, 94, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272f97', endColorstr='#11155e', GradientType=0); /* IE6-9 */
					}
				}
			}
		}
	}
	@media only screen and (min-width: 993px) {
		.image-section {
			background-image: none !important;
		}
	}
}
@media only screen and (max-width: 992px)  {
	.info-wrapp  {
		background: none;
		bottom: -169px;
		height: 400px;
	}
	#hero1 {
		padding: 0 56px;
		.swiper-container {
			background: linear-gradient(168deg, rgba(38, 46, 151, 0.9) 0%, rgba(17, 20, 94, 0.9) 100%);
			.swiper-slide {
				padding: 29px;
				height: 400px;
				.info-content {
					height: 338px;
					a {
						display: block;
					}
					.date-box {
						position: absolute;
						left: 28px;
						top: 28px;
					}
					.h3 {
						vertical-align: middle;
						display: inline-block;
						padding: 0 3% 0 0;
						width: 41%;
						font-size: 60px;
						white-space: normal;
						overflow: hidden;
						font-weight: 500;
						line-height: 65px;
						margin: 0;
					}
					.slider-cell {
						vertical-align: middle;
						display: inline-block;
						width: 57%;
					}
					.p {
						display: block;
						margin: 0 0 33px;
						font-size: 18px;
						font-weight: 400;
						line-height: 28px;
					}
					.more {
						display: inline-block;
					}
				}
			}
		}
		.swiper-button-next {
			left: auto;
			right: 86px;
			top: 28px;
			margin: 0;
		}
		.swiper-button-prev {
			display: none;
		}
	}
	.main {
		.our-team-section {
			padding-bottom: 28px;
			margin:  0 0;
			background-color: rgba(255, 255, 255, 1);
			.team-content {
				margin: -66px 0 48px 0;
				padding: 38px 29px 82px;
				width: 100%;
				.team-item-wrapp {
					padding: 0 5.5%;
				}
				.team-item {
					margin-top: 54px;
				}
				.team-item-quote {
					font: italic 400 18px/28px $basic_font;
				}
			}
			.team-image {
				margin: 0;
				width: 100%;
			}
			.team-bottom-box {
				padding: 66px 0 0;
				width: 100%;
				.team-item {
					display: block;
					max-width: 430px;
					margin: 0 auto 20px;
				}
				.team-item-quote {
					font: italic 400 18px/28px $basic_font;
					margin: 0 0 28px;
				}
			}
			h4 {
				font: normal 700 14px/19px $first_font;
			}
		}
		.image-section {
			display: block;
			height: 303px;
			width: 100%;
		}
		.new-section {
			.new-section-wrapp {
				display: inline-block;
				width: 100%;
			}
			padding: 30px 0 41px;
			background-color: rgba(255, 255, 255, 1);
			.wrap {
				padding-left: 55px;
				padding-right: 55px;
			}
			.info-box {
				margin: 0 -15px;
				.info-box-item {
					width: 50%;
					float: left;
					&:nth-child(n+3) {
						display: none;
					}
					.h3 {
						font-size: 18px;
						font-weight: 500;
						line-height: 28px;
					}
					.info-box-item-wrap {
						width: 100%;
					}
					&:hover {
						.info-box-item-wrap {
							margin: -10px 0;
							padding: 93px 32px 30px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px)  {
	.info-wrapp  {
		bottom: -169px;
		height: 398px;
	}
	#hero1 {
		padding: 0 20px;
		.swiper-container {
			.swiper-slide {
				padding: 64px 22px 22px;
				height: 398px;
				.info-content {
					height: 312px;
					.date-box {
						left: 28px;
						top: 28px;
					}
					.h3 {
						font-size: 32px;
						line-height: 120%;
					}
				}
			}
		}
		.swiper-button-next {
			left: auto;
			right: 31px;
			top: 25px;
			margin: 0;
		}
	}
	.main {
		.our-team-section {
			padding-bottom: 28px;
			margin: 0;
			.team-content {
				margin: -50px 0 48px 0;
				padding-bottom: 77px;
			}
			.team-image {
				margin: 0;
				width: 100%;
			}
			.team-bottom-box {
				padding: 79px 18px 0;
				width: 100%;
				.team-item {
					display: block;
					max-width: 430px;
					margin: 0 auto 20px;
				}
				.team-item-quote {
					font: italic 400 18px/28px $basic_font;
					margin: 0 0 28px;
				}
			}

		}
	}
}
@media only screen and (max-width: 620px)  {
	#hero1 {
		.swiper-container {
			.swiper-slide {
				.info-content {
					.date-box {
						left: 23px;
						top: 32px;
					}
					.h3 {
						display: inline-block;
						padding: 0;
						width: 100%;
						font-size: 32px;
						line-height: 120%;
						margin-bottom: 17px;
					}
					.slider-cell {
						display: inline-block;
						width: 100%;
					}
					.p {
						margin: 0 0 26px;
						font-size: 16px;
						line-height: 22px;
					}
					.more {
						display: inline-block;
					}
				}
			}
		}
	}
	.main {
		.our-team-section {
			.container-fluid {
				padding-left: 18px;
				padding-right: 18px;
			}
			.team-content {
				margin: -50px 0 28px 0;
				.team-item-wrapp {
					padding: 0;
				}
				.team-item {
					margin-top: 49px;
					&:first-child {
						margin-top: 22px;
					}
				}
				.team-item-author {
					.author-name {
						font-size: 12px;
					}
				}

				.team-item-quote {
					font: italic 400 16px/22px $basic_font;
				}
				.tw-item-author {
					margin: 21px 0 0;
				}
				.btn {
					margin-top: 50px;
				}
			}
			h4 {
				font: normal 700 12px/16px $first_font;
			}
		}
		.new-section {
			padding: 30px 0 90px;
			position: relative;
			.wrap {
				padding-left: 15px;
				padding-right: 15px;
			}
			.title-section {
				h4 { font-size: 12px; }
				.more {
					position: absolute;
					left: 15px;
					bottom: 61px;
					font-size: 12px;
				}
			}
			.info-box {
				padding: 25px 0;
				margin: 0;
				.info-box-item {
					padding: 0;
					margin-bottom: 20px;
					width: 100%;
					.h3 {
						font-size: 18px;
						font-weight: 500;
						line-height: 28px;
					}
				}
			}
		}
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.home{
		.swiper-button-next, .swiper-button-prev{
			background-image: url(../images/triangle.png) !important;
		}
	}
}
