#animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5 {
	position: relative;
	height: 300px;

	.phrase, .phrase-buffer {
		white-space: nowrap;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
	}
	.phrase {
		direction: rtl;
		z-index: 1;
	}
	.phrase-buffer {
		direction: ltr;
		z-index: 2;
		left: 0;
		width: 0;
	}
	.char {
		display: inline-block;
		position: relative;
	}
	.phrase-buffer {
		color: #fff;
	}
	.cursor{
		color: $white;
		font: normal 700 134px/140px $second_font;
		width: 2px!important;
		padding: 0;
		position: absolute;
		left: 0;
		top: 5px;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		height: 140px;
		background: $white;
		box-shadow: 0 2px 5px 2px rgba(255, 255, 255, 0.75);
		opacity: 1;
		//-webkit-animation: blink 0.2s infinite;
		//-moz-animation: blink 0.2s infinite;
		//animation: blink 0.2s infinite;
	}
}
 #hero {
 	position:absolute;
	left: 0;
	 height:550px;
	top: 0;
 	width:100%;
	 z-index:1;
 	.swiper-container {
 		width:100%;
 		height:100%;
 		.swiper-slide {
			background-repeat: no-repeat;
			background-position: left top;
			background-size: cover;
 			width:100%;
 			height:100%;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}
 		}
 	}
 	.pagination {
 		display: none;
 	}
}
 .main {
	 &.home-main {
		 padding: 171px 0 90px;
		 position: relative;
		 width: 100%;
		 z-index: 5;
		 min-height:550px;
		 .wrap {
			 padding: 0 58px;
			 max-width: 1240px;
		 }
		 h2, h3, h4, h5, h6, p, .h3, .p, .date-box {
			 color: $white;
		 }
		 p, .p {
			 color: $white;
			 font: normal 400 18px/21px $basic_font;
		 }
	 }
 }

 .desktop {
	 .info-box {
		 .info-box-item {
			 .info-box-item-wrap {
				 .more {
					 bottom: -20px;
					 opacity: 0;
					 z-index: -1;
				 }
			 }
			 &:hover {
				 .info-box-item-wrap {
					 .more {
						 bottom: 34px;
						 opacity: 1;
						 z-index: 111;
					 }
				 }
				 &:before {
					 background: url(../images/triangle-hover.svg) no-repeat left top;
				 }
			 }
		 }
	 }
 }
 .animated-text {
	 font: normal 700 134px/140px $second_font;
	 color: $white;
	 text-transform: uppercase;
	 letter-spacing: 32px;
	 margin-bottom: 127px;
 }
 #typed-strings {
	 display: none;
 }
 .typed-cursor{
	 color: $white;
	 font: normal 700 134px/140px $second_font;
	 width: 2px!important;
	 padding: 0;
	 display: inline-block;
	 vertical-align: top;
	 overflow: hidden;
	 height: 140px;
	 background: $white;
	 box-shadow: 0 2px 5px 2px rgba(255, 255, 255, 0.75);
	 opacity: 1;
	 -webkit-animation: blink 0.7s infinite;
	 -moz-animation: blink 0.7s infinite;
	 animation: blink 0.7s infinite;
 }

 .info-box {
	 padding: 15px 0;
	 margin: 0 -30px;
	 .info-box-item {
		 text-align: left;
		 position: relative;
		 padding: 15px;
		 vertical-align: middle;
		 height: 270px;
		 margin-bottom: 30px;
		 display: inline-block;
		 &:before {
			 background:url(../images/triangle.svg) no-repeat 6px 6px;
			 content: '';
			 position: absolute;
			 right: 23px;
			 top: 27px;
			 height: 40px;
			 width: 40px;
			 z-index: 11;
		 }
		 .info-box-item-wrap {
			 padding: 61px 20px 40px 20px;
			 margin: 0;
			 display: block;
			 width: 360px;
			 height: 270px;
			 background: -moz-linear-gradient(180deg, rgba(73, 73, 73, 0.8) 0%, rgba(0, 0, 0, 0.75) 100%);
			 background: -webkit-linear-gradient(180deg, rgba(73, 73, 73, 0.8) 0%, rgba(0, 0, 0, 0.75) 100%);
			 background: linear-gradient(180deg, rgba(73, 73, 73, 0.8) 0%, rgba(0, 0, 0, 0.75) 100%);
			 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc494949', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
			 .more {
				 display: inline-block;
				 position: absolute;
				 left: 37px;
				 bottom: 30px;
				 @include transition(.6s);
				 z-index: 111;
			 }
		 }
		 &:hover {
			 .info-box-item-wrap {
				 padding: 71px 30px 50px 30px;
				 background: -moz-linear-gradient(180deg, rgba(38, 46, 151, 0.64) 0%, rgba(17, 20, 94, 0.64) 100%);
				 background: -webkit-linear-gradient(180deg, rgba(38, 46, 151, 0.64) 0%, rgba(17, 20, 94, 0.64) 100%);
				 background: linear-gradient(180deg, rgba(38, 46, 151, 0.64) 0%, rgba(17, 20, 94, 0.64) 100%);
				 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3262e97', endColorstr='#a311145e', GradientType=0); /* IE6-9 */
				 width: 380px;
				 height: 290px;
				 margin: -10px;
				 .more {
					 text-decoration: none;
				 }
			 }
			 &:before {
				 background: url(../images/triangle-hover.svg) no-repeat left top;
			 }
		 }
		 h3, .h3 {
			 font: normal 500 24px/28px $basic_font;
			 display: inline-block;
			 width: 100%;
		 }
		 p, .p {
			 margin-top: 17px;
			 font: normal 400 14px/20px $basic_font;
			 display: inline-block;
			 width: 100%;
		 }
		 .date-box {
			 opacity: 0.5;
			 font: normal 400 14px/19px $first_font;
			 letter-spacing: 2.07px;
			 position: absolute;
			 left: 36px;
			 top: 39px;
		 }
		 &.current {
			 .info-box-item-wrap {
				 background: -moz-linear-gradient(top, rgba(38, 46, 151, 0.8) 0%, rgba(17, 20, 94, 0.8) 100%);
				 background: -webkit-linear-gradient(top, rgba(38, 46, 151, 0.8) 0%, rgba(17, 20, 94, 0.8) 100%);
				 background: linear-gradient(to bottom, rgba(38, 46, 151, 0.8) 0%, rgba(17, 20, 94, 0.8) 100%);
				 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc262e97', endColorstr='#cc11145e', GradientType=0);
				 &:hover {
					 background: -moz-linear-gradient(180deg, rgba(38, 46, 151, 0.64) 0%, rgba(17, 20, 94, 0.64) 100%);
					 background: -webkit-linear-gradient(180deg, rgba(38, 46, 151, 0.64) 0%, rgba(17, 20, 94, 0.64) 100%);
					 background: linear-gradient(180deg, rgba(38, 46, 151, 0.64) 0%, rgba(17, 20, 94, 0.64) 100%);
					 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3262e97', endColorstr='#a311145e', GradientType=0); /* IE6-9 */
				 }
			 }
		 }
	 }
 }

 @media only screen and (max-width: 1280px)  {

	.animated-text {
		font: normal 700 120px/140px $second_font;
		letter-spacing: 28px;
	}
        #animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5  {
            .cursor{
                height: 140px;
            }
        }
	 .typed-cursor{
		height: 140px;
	 }
	 .main {
		 &.home-main {
			 .wrap {
				 max-width: 1170px;
			 }
		 }
	 }

	 .info-box {
		 padding: 15px 0;
		 text-align: center;
		 .info-box-item {
			 text-align: left;
		 }
	 }
 }
 @media only screen and (max-width: 1024px)  {
	 .animated-text {
		 font: normal 700 100px/120px $second_font;
		 letter-spacing: 20px;
	 }
	 .typed-cursor{
		 height: 120px;
	 }
         #animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5  {
            .cursor{
                height: 120px;
            }
        }
 }
 @media only screen and (max-width: 850px)  {
	 .animated-text {
		 font: normal 700 80px/100px $second_font;
		 letter-spacing: 15px;
	 }
	 .typed-cursor{
		 height: 100px;
	 }
         #animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5  {
            .cursor{
                height: 100px;
            }
        }
	 .main {
		 &.home-main {
			 padding: 117px 0 50px;
			 min-height: 980px;
			 .wrap {
				 max-width: 800px;
			 }
		 }
	 }
	 .info-box {
		 padding: 15px 0;
		 text-align: center;
		 .info-box-item {
			 text-align: left;
		 }
	 }
 }
 @media only screen and (max-width: 767px)  {
	 .animated-text {
		 font: normal 700 70px/80px $second_font;
		 letter-spacing: 15px;
	 }
	 .typed-cursor{
		 height: 80px;
	 }
         #animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5  {
            height: 300px;
            .cursor{
                height: 80px;
            }
        }
 }
 @media only screen and (max-width: 620px)  {
	 .animated-text {
		 font: normal 700 60px/70px $second_font;
		 letter-spacing: 10px;
	 }
	 .typed-cursor{
		 height: 70px;
	 }
         #animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5  {
            .cursor{
                height: 60px;
            }
        }
	 .main {
		 &.home-main {
			 .wrap {
				 padding: 0 20px;
				 max-width: 800px;
			 }

			 p {
				 font-size: 14px;
				 line-height: 18px;
			 }
		 }
	 }
	 .info-box {
		 margin: 0 -20px;
	 }
 }
 @media only screen and (max-width: 500px) {
	 .animated-text {
		 font: normal 700 50px/60px $second_font;
		 letter-spacing: 8px;
	 }
	 .typed-cursor{
		 height: 60px;
	 }
         #animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5  {
            .cursor{
                height: 50px;
            }
        }
 }
 @media only screen and (max-width: 420px)  {
	 .animated-text {
		 font: normal 700 40px/50px $second_font;
		 letter-spacing: 5px;
	 }
	 .typed-cursor{
		 height: 50px;
	 }
         #animated-text, #animated-text1, #animated-text2, #animated-text3, #animated-text4, #animated-text5  {
            .cursor{
                height: 40px;
            }
        }
	 .info-box {
		 margin: 0 -20px;
		 .info-box-item {
			 text-align: left;
			 position: relative;
			 padding: 15px;
			 height: auto;
			 min-height: 240px;
			 margin: 0;
			 display: block;
			 .info-box-item-wrap {
				 margin: 0;
				 display: block;
				 width: 100%;
				 min-height: 240px;
			 }
			 &:hover {
				 .info-box-item-wrap {
					 padding: 61px 20px 40px 20px;
					 width: 100%;
					 height: auto;
					 margin: 0;
				 }
			 }
			 h3 {
				 font: normal 500 20px/24px $basic_font;
			 }
			 p {
				 font: normal 400 14px/18px $basic_font;
			 }
			 .date-box {
				 font: normal 400 12px/16px $first_font;
			 }
		 }
	 }
 }
