.main {
    &.page {
        &.default-page {
            padding: 0 0 66px;
            .description-section {
                padding: 199px 35px 43px;
                .wrap {
                    max-width: 1184px;
                }
                .title-box {
                    max-width: none;
                    float: none;
                    display: inline-block;
                    padding-left: 0;
                }
            }
            .content-section {
                padding: 0 0 85px;
                .wrap {
                    max-width: 784px;
                }
                h1, h2, h3, h4, h5, h6, p, li, td, th {
                    color: $black;
                }
                h4 {
                    font: normal 700 18px/28px $basic_font;
                }
                ul {
                    margin: 15px 0 0;
                    padding: 0;
                    list-style: none;
                        li {
                            padding:  0 0 0 36px;
                            margin-top: 20px;
                            position: relative;
                            &:before {
                                background: $black;
                                content: '';
                                position: absolute;
                                left: 11px;
                                top: 11px;
                                height: 4px;
                                width: 4px;
                                @include border-radius(4);
                            }
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                }
                ol {
                    margin: 15px 0 0;
                    li {
                        margin-top: 20px;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
                p {
                    margin-top: 10px;
                    font: normal 400 18px/28px $basic_font;
                }
                li {
                    font: normal 400 18px/28px $basic_font;
                }
                p + h2, p + h3, p + h4, p + h5 {
                    margin-top: 48px;
                }
                a {
                    &:hover {
                        color: $blue__medium;
                    }
                }
            }
            @media only screen and (max-width: 992px)  {
                padding: 30px 0;
                .description-section {
                    padding: 100px 0 23px;
                    .wrap {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
                .content-section {
                    padding: 0 0 45px;
                    h1 {
                        font-size: 38px;
                    }
                    h2 {
                        font-size: 28px;
                    }
                    h3 {
                        font-size: 22px;
                    }
                    h4 {
                        line-height: 24px;
                    }
                    p,li {
                        margin-top: 10px;
                        font: normal 400 16px/24px $basic_font;
                    }
                    ul, ol {
                        li {
                            margin-top: 15px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                    ul {
                        li {
                            padding-left: 26px;
                            &:before {
                                left: 14px;
                            }
                        }
                    }
                    li {
                        font: normal 400 16px/24px $basic_font;
                    }
                    p + h2, p + h3, p + h4, p + h5 {
                        margin-top: 28px;
                    }
                }
            }
            @media only screen and (max-width: 620px)  {
                padding: 20px 0;
                .description-section {
                    padding: 70px 0 15px;
                }
                .content-section {
                    padding: 0 0 20px;
                    h1 {
                        font-size: 28px;
                    }
                    h2 {
                        font-size: 22px;
                    }
                    h3 {
                        font-size: 18px;
                    }
                    h4 {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    p, li {
                        margin-top: 7px;
                        font: normal 400 14px/20px $basic_font;
                    }
                    ul, ol {
                        margin-top: 7px;
                        li {
                            margin-top: 7px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                    ul {
                        li {
                            padding-left: 26px;
                            &:before {
                                top: 8px;
                                left: 16px;
                            }
                        }
                    }
                    li {
                        font: normal 400 14px/20px $basic_font;
                    }
                    p + h2, p + h3, p + h4, p + h5 {
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}
